.sample-landing-page-pro-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(55, 55, 74) 0.00%,rgb(91, 79, 254) 100.00%);
}
.sample-landing-page-pro-container02 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-text {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 40px;
}
.sample-landing-page-pro-container03 {
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-container04 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-image {
  width: 561px;
  height: 429px;
  object-fit: cover;
  margin-left: 80px;
}
.sample-landing-page-pro-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-purple6);
}
.sample-landing-page-pro-text2 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-container07 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-image1 {
  width: 552px;
  height: 364px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 80px;
  margin-bottom: 0px;
}
.sample-landing-page-pro-container08 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-text3 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-container09 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-image2 {
  width: 536px;
  height: 297px;
  object-fit: cover;
  margin-left: 80px;
}
.sample-landing-page-pro-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-text4 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 20px;
  margin-bottom: 20px;
}
.sample-landing-page-pro-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-image3 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 40px;
}
.sample-landing-page-pro-image4 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 40px;
}
.sample-landing-page-pro-image5 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.sample-landing-page-pro-container13 {
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  flex-direction: column;
  padding-bottom: 80px;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-purple6);
}
.sample-landing-page-pro-text5 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 32px;
}
.sample-landing-page-pro-container15 {
  width: 1140PX;
  display: flex;
  align-items: center;
  margin-bottom: 20PX;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container16 {
  width: 1140PX;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-image6 {
  width: 90px;
  height: 80px;
  margin-top: 80px;
  object-fit: cover;
}
.sample-landing-page-pro-text6 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 20px;
}
.sample-landing-page-pro-text7 {
  margin-bottom: 20px;
}
